<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<H1> Menu </H1>
<hr/>

<#if foodsList??>
    
    <#list foodsList as food>
  
        <div class="card">
        
		  <div class="card-block">
		    <h4 class="card-title"> <a href="/food/${food.id}">${food.name}</a> </h4>
		    <#if food.imagePath??>
			  <img class="card-img-top" style="height:200px;" src="${food.imagePath}" alt="Card image cap">
			 </#if>
		    <#if food.details??>
		    	<p class="card-text"> ${food.details} </p>
		    </#if>
		    <p>$${food.price}</p>
		    <a href="/food/${food.id}" class="btn btn-primary pull-right">View</a>
		    <div style="clear:both;"></div>
		  </div>
		</div>
        
    </#list>
    
</#if>

</@layout.myLayout>