<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    
    
    
     <a href="/index">Back To Menu</a>
<#if food??>

    <h1>${food.name}</h1>  
    <#if food.imagePath??>
		  <img class="card-img-top" src="${food.imagePath}" alt="Card image cap">
	</#if>
    <#if food.details??>
		<p class="card-text"> ${food.details} </p>
	</#if>  
    <p><#noescape>$${food.price}</#noescape></p>
    <form action="/food/${food.id}/order" method="post" class="form-horizontal" role="form">
    	<input type="submit" value="Order" class="btn btn-success pull-right" />
    </form>
<#else>
    
    <p>Sorry. Post not found. Please go back to <a href="/index">index</a></p>
    
</#if>
    

     

</@layout.myLayout>