<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    
    
    
<#if food??>
	<h3>Your order of ${food.name} successfully placed..</h3>
	<a href="/index">Menu</a>
<#else>
    
    <p>Sorry. Post not found. Please go back to <a href="/index">index</a></p>
    
</#if>
     

</@layout.myLayout>